.center-wrapperLogin {
    display: flex;
    justify-content: center;
    margin: 2rem;
  }



.reg_formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}